.button__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    /* right: -40%; */
    margin-top: -35px;
    padding: 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 40px;
    width: 70px;
    position: relative;
    text-align: center;
  }
  
  .button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }
  
  .button__bar li button {
    border: none;
    background: #ffff;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
  }
  
  .button__bar li.slick-active button {
    background-color: #DF00A1;
  }
  
  .button__bar li button:hover,
  .button__bar li button:focus {
    background: #818181;
    outline: 0;
  }