@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../assets/style/goalCard.css");
@import url("../assets/style/slider.css");
@import url("../assets/style/calendar.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


.down {
    opacity: 0;
    animation: n1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    height: 90px;
}

@keyframes n1 {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 90px;
    }
}


.container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: white;
    border: 1px solid #787878;
    border-radius: 3px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #97E3FF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }






  .container__radio {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container__radio input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark__radio {
    position: absolute;
    top: 2;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #787878;
    border-radius: 1000000000000px;
  }
  
  /* On mouse-over, add a grey background color */
  .container__radio:hover input ~ .checkmark__radio {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container__radio input:checked ~ .checkmark__radio {
    background-color: #97E3FF;
    border: 0px;
    filter: blur(2px)

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark__radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container__radio input:checked ~ .checkmark__radio:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container__radio .checkmark__radio:after {
    left: 6px;
    top: -100px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .rc-slider-mark-text{
    font-size: 18px !important;
  }


  .css-1xc3v61-indicatorContainer svg{
    color: #616161 ;
  }


  .inShadow {
    box-shadow: inset 0px -4px 7px rgba(0, 0, 0, 0.1), inset 0px 4px 8px rgba(0, 0, 0, 0.07);  }

    .high{
      transform: calc(100vh - 96px);
    }

    .high2{
      transform: calc(100vh - 56px - 80px);
    }


    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #95d2e8 #f6f6f6;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #f6f6f6;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #95d2e8;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }